/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
.SignupPage{
    width: 100%;
    max-width: 50%;
    padding: 50px 50px;
    display: flex;
    flex-direction: row;
    position: sticky;
}
.input-container input:focus ~ ::placeholder, .input-container.transform ::placeholder{
    transform: translateY(-32px) scale(0.78);

}
.input-container ::placeholder{
position:absolute;
top:50%;
left: 12;
transform: translateY(-50%);
transform-origin: left;
background: white;
padding: 0 4px;
transition: absolute;
top:50%;
left: 12px;
transform: translateY(-50%);
transform-origin: left;
background: white;
padding: 0 4px;
transition: transform 0.3s cubic-bezier(0,0,0.3,1);
}
.header{
    margin-bottom: 100px;
}

.header h1 {
    margin-bottom: 20px;
    font-size: 48px;
    width: 488px;
}

.header  p {
    color: hsl(227deg 14% 74%);
    font-weight: bold;
}

.form {
    width: 100%;
}

.input-container {
    width: 100%;
    max-width: 80%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}


.signup-btn {
    padding: 20px 40px;
    font-weight: bold;
    color: white;
    background-color: hsl(209deg 100% 55%);
    border: 1px solid hsl(209deg 100% 55%);
    border: 2px solid hsl(209deg 100% 55%);
    border-radius: 5px;
    margin-top:489px;
    cursor: pointer;
    position: absolute;
    right:34em;
}

.signup-btn:hover {
    background-color: transparent;
    color: hsl(209deg 100% 55%);
}

.input-container input {
    padding: 30px;
    position: relative;
    top: 190px;
    right: 101px;
}
.form input{
    padding: 23px;
    width: 475px;
    margin-top: 24px;
    margin-right: 32px;
}       
.password {
   top:23px;
   margin-top: 160px;
   right: 104px;
   position: relative;
}
.form{
    width: 50%;
    position: relative;
    right: 373px;
} */
.create-account-form{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
   
}
.create-account-form h1{
    margin-bottom: 20px;
    font-size: 48px;
    width: 488px;
}
.create-account-form P{
    font-size: 14px;
    padding-bottom: 80px;
    color: gray;
}
.create-account{
    display: flex;
    gap: 15px;
}
.create-account2{
    display: flex;
    gap: 15px;
}
.password{
    width: 200%;
}
.signup-btn{
        color: rgb(37, 24, 24);
        background-color: #009eff;
        height: 50px;
        width: 150px;
        border: none;
}
/* .signup-btn:hover {
    background-color:azure;
    color: rgb(3, 23, 41);
} */