.create-account-form{
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    overflow: hidden;
   
}
.create-account-form h1{
    font-size: 40px;
}
.create-account-form P{
    font-size: 10px;
    padding-bottom: 80px;
}
.create-account{
    display: flex;
    gap: 15px;
}
.create-account2{
    display: flex;
    gap: 15px;
}
.password{
    width: 200%;
}
.signup-btn{
        color: white;
        background-color: #009eff;
        height: 50px;
        width: 150px;
        border: none;
}