.create-account-form {
    display: flex;
    justify-content: start;
    align-items: stretch;
    flex-direction: column;
    gap: 20px;
    padding: 40px 80px 0px 80px;
    background: white;  
}

.create-account-form h2 {
    font-size: 40px;
}

.pi {
    padding-bottom: 50px;
    font-size: 80%;
}

.test1 {
    display: flex;
    gap: 20px;
    padding-left: 5px;
}

.test2 {
    display: flex;
    gap: 20px;
    padding-left: 5px;
}

.btn {
    width: 40%;
    height: 10%;
    background-color: rgb(42, 120, 236);
    border: none;
    border-radius: 3px;
    color: white;
}

.pass {
    width: 64.60em;
}
