.left {
    width: 50%;
    padding: 50px 53px;
}

.header-text {
    /*margin-top: -15px;*/
    margin-bottom: 90px;
}

.header-text h1 {
    margin-top: 30px;
    font-size: 46px;
}

.header-text p {
    color: hsl(227deg 14% 74%);
    font-weight: bold;
    font-size: 12px;
    margin-top: 10px;
}

.form {
    width: 100%;
}

.input-container {
    width: 510px;
    height: 82px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 28px;
    margin-bottom: 20px;
    color: hsl(227deg 14% 74%);
}
.input-container input {
    border: 1px solid hsl(227deg 14% 74%);
}
.pswd{
    color: hsl(227deg 14% 74%);
}
.pswd input {
    border: 1px solid hsl(227deg 14% 74%); 
}
.signup-btn {
    padding: 15px 40px;
    font-weight: bold;
    color: white;
    background-color: hsl(209deg 100% 55%);
    border: 1px solid hsl(209deg 100% 55%);
    border: 2px solid hsl(209deg 100% 55%);
    border-radius: 5px;
    margin-top: 20px;
    gap: 10px;
    padding-bottom: 10px;
    cursor: pointer; 
}

.signup-btn:hover {
    background-color: transparent;
    color: hsl(209deg 100% 55%);
}


