.text-field{
    height: 48px;
    width: 50%;
    position: relative;
}
.text-field input{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-left: 12px;
}
.text-field input:focus ~ label, .text-field.transform label{
    transform: translateY(-32px) scale(0.78);

}

.text-field label{
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transform-origin: left;
    background: white;
    padding: 0 4px;
    transition: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transform-origin: left;
    background: white;
    padding: 0 4px;
    transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
}
