
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.LoginPage{
    
    background-color:hsl(177deg 18% 69% / 67%);
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    gap: 20px;
    padding: 2em;
    width: 51em;
}

.login-btn {
    padding: 15px;
    font-weight: bold;
    color: hsl(209deg 100% 55%);
    background-color: transparent;
    border: 2px solid hsl(209deg 100% 55%);
    border-radius: 5px;
    margin-top: 30px;
    cursor: pointer;
    margin-left: -3px;
    animation: 300ms linear ease-in;
    width: 86px;
    position: relative;
    bottom: 84px;
    left: 169px;
}

.login-btn:hover {
    background-color: rgb(129, 179, 224);
    transition: 500ms linear ease-in;
    color: white;
}

.login-text {
    font-weight: bold;
}

.img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}
.myimage{
    
    width: 91%;
    color:hsl(177deg 18% 69% / 67%);
    height: 50%;
    margin-left: 94px;
}
.image{
    margin-top: -8px;
    margin-right: -46px;
    height: 356px;
}