/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
@@ -38,4 +38,16 @@
.read-the-docs {
  color: #888;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  width: 100vw;
  height: 100vh;
}