
  /* :root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
  @@ -67,4 +67,8 @@ button:focus-visible {
    button {
      background-color: #f9f9f9;
    }
  } */
  
  body {
    font-family: Arial, sans-serif;
  }